
body{
	font-family:Verdana, Geneva, sans-serif;
	color:#333333;
	font-size:12px;
}

a{
	color:#363942;
}

a:hover{
	color:#446181;
}

#MainBody{
	width:100%;
}

#main{
	width:980px;
	margin:0 auto;
}

h1, h2, h1 a, h2 a, h1 a:link, h2 a:link{
	font-size:38px;
	margin-bottom:10px;
	line-height:38px;
	color:#363942;
	padding:5px 0;
	text-decoration:none;
}

.sidebar h2{
	font-size:20px;
	line-height:20px;
}

/* Header Styles */

#Header{
	display:block;
	background:url(../images/header_back.jpg) repeat-x;
	position:fixed;
	text-align:center;
	height:94px;
	width:100%;
	top:0;
	z-index:99;
	box-shadow: 3px 0px 5px #888;
}

#HeaderTop{
	position:relative;
	width:960px;
	margin:0 auto;
}

#LogoContainer{
	width:174px;
	position:absolute;
	margin:0 auto 0 auto;
	display:block;
	left:393px;
	margin-top:13px;
	height:62px;
	background:url(../images/logo_full.png) top center no-repeat;
	z-index:101;

}

#LogoContainer #logo
{
	width:174px;
	height:62px;
}

#name-and-slogan{
	display:none;
}

#PageNav{
	position:absolute;
	left:0;
	top:35px;
	width:960px;
}

#PageNav #block-views-exp-search-view-page{
	display:block;
	float:right;
	margin-top:6px;
	margin-right:26px;
}

#PageNav #main-menu a{
	display:inline-block;
	height:43px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:10pt;
	margin-right:5px;
}

#PageNav #main-menu a:hover{
	color:#c1be8a;
	background:url(../images/nav-hover.png) bottom repeat-x;
}

#PageNav #main-menu .active{
	
}

#PageNav .feed-icon{
	display:block;
	right:0;
	top:27px;
	width:auto;
	position:absolute;
}

#edit-submit-search-view, #edit-search-api-views-fulltext{
	background:#FFFFFF;
	border:0;
	height:25px;
	padding:3px;
}

#edit-search-api-views-fulltext{
	height:19px;
	border-right:1px #CCCCCC solid;
}

#Banner{
	height:175px;
	margin-top:94px;
	background:url(../images/tileable_wood_texture.png) top center repeat-x #333333;
	width:100%;
	overflow:hidden;
}

#BannerContent{
	width:960px;
	margin:20px auto 0;
}

#HeaderBottom{
	width:960px;
	margin:0 auto;
	position:relative;
}

#edit-search-api-views-fulltext-wrapper, #edit-search-api-views-fulltext-wrapper label, #edit-search-api-views-fulltext-wrapper div, .views-submit-button{
	display:inline-block;
	float:left;
	width:auto;
	padding:0 !important;
}

#edit-search-api-views-fulltext-wrapper label{
	display:none;
}

.views-submit-button input{
	margin-top:0 !important;
	background:#333333;
	border:0;
	padding:3px 5px 3px 5px;
}

#PageHeader{
	top:57px;
	width:335px;
	left:633px;
	z-index:99;
	position:absolute;
}

/* Header Navigation */

#block-superfish-1 ul{
	margin-top:3px !important;
}

#block-superfish-1 ul li{
	background:none;
	border:0;
}

#block-superfish-1 ul li a, #block-superfish-1 ul li a:link{
	border:0;
	color:#FFFFFF;
	height:25px;
	font-size:11px;
	text-decoration:none;
}

#block-superfish-1 ul li a:hover{
	background:url(../images/header_nav_hover.png) bottom center no-repeat;
	color:#FFFFFF;
}

#block-superfish-1 ul li a.active, #block-superfish-1 ul li a.visited{
	background:url(../images/header_nav_active.png) bottom center no-repeat;
	color:#c1bf8a;
}

#block-superfish-1 .sf-shadow ul{
	background:#252f3b;
	border-radius:0;
	top:25px;
}

#block-superfish-1 .sf-depth-2 .active{
	background:none;
}

#block-superfish-1 a.sf-depth-2, #block-superfish-1 a.sf-depth-3{
	color:#FFFFFF;
	background:none;
	height:10px;
	padding:2px;
	margin:0;
}

#block-superfish-1 a:hover.sf-depth-2, #block-superfish-1 a:hover.sf-depth-3{
	color:#252f3b;
	background:#FFFFFF;
}

.view-blog .views-row, #content .view-content .views-row{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px dotted #efefef;
}

.submitted{
	color:#666666;
	font-style:italic;
	margin-left:20px;
}

#content .content{
	margin-left:20px;
}

.links.inline{
	margin-left:20px;
}

.addthis_toolbox{
	margin-left:20px;
}

#content .links.inline .node-readmore a, .more-link a, #content .form-submit{
	display:inline-block;
	padding:4px;
	background:#212d3a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	text-decoration:none;
	border:none;
	text-transform:uppercase;
	font-size:.9em;
}


#content .links.inline .node-readmore a:hover, .more-link a:hover, #content .form-submit:hover{

	background:#446181;
	color:#CCCCCC;
	text-decoration:none;
	
}

.form-submit:hover{
	cursor:pointer;
	background:#c1bf86 !important;
	color:#FFFFFF;

}

#edit-preview{
	margin-left:10px;
}

.more-link{
	text-align:left;
	margin:8px 0;
}

h3.comment-title a{
	font-size:12px;
	color:#436BA1;
	margin-left:20px;
}

blockquote{
	background:url(../images/fancy_deboss.png);
	padding:10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	font-style:italic;
	margin-right:120px !important;
	box-shadow:5px 5px 5px #CCCCCC;
}

blockquote p{
	margin-top:0;
}

blockquote:before {
  content:url(../images/blockquote.png);
  display:block;
  margin:-26px 0 0 -53px;

}

/* Media */

.node-blog-post iframe, .node-blog-post embed, .node-blog-post img, .node-blog-post object{
	margin:0 10px 10px 0;
	z-index:1;
	box-shadow:5px 5px 5px #CCCCCC;
}

#content .content img{
	max-width:560px;
	height:auto;
	margin:10px 10px 10px 0;
	box-shadow:5px 5px 5px #CCCCCC;
}

/* Slideshow Top */

#BannerContent .region{
	width:900px;
	float:left;
	margin-left:20px;
	background:#FFFFFF;
	padding:10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-align:center;
}

#BannerContent .block-title{
	font-size:16px;
	text-align:center;
	color:#456c9e;
}

.views-slideshow-cycle-main-frame a{
	color:#333333;
}

.views-slideshow-controls-bottom{
	position:relative;
}

.views-slideshow-controls-text-previous, .views-slideshow-controls-text-next, .views-slideshow-controls-text-pause{
	width:24px;
	height:48px;
	text-indent:-1000px;
	overflow:hidden;
	display:block;
	position:absolute;
	
}

.views-slideshow-controls-text-previous{
	top:-50px;
	left:-50px;
	background:url(../images/btn_prev.png) top left no-repeat;
}

.views-slideshow-controls-text-next{
	top:-50px;
	right:-50px;
	background:url(../images/btn_next.png) top left no-repeat;
}

.views-slideshow-controls-text-pause{
	background:url(../images/btn_playpause.png) top left no-repeat;
	width:20px;
	height:20px;
	top:-60px;
	left:514px;
}

.views-slideshow-cycle-main-frame-row{
	width:100% !important;
	text-align:center;

}

.views-slideshow-cycle-main-frame-row a{
	font-size:22px;
	margin-bottom:10px;
	line-height:auto;
	color:#24394c;
	padding:5px 0;
	text-decoration:none;
}

/* Slidebox */

#slidebox {
    background-color: none !important;
	background:url(../images/fancy_deboss.png);
    border-top: 3px solid #436ba1 !important;

}

#slidebox h2{
	font-family:Coustard;
	font-size:16px;
	line-height:normal;
}

/* Tag labels */

.field-type-taxonomy-term-reference{
	clear:both;
	margin-bottom:10px;
}

.field-type-taxonomy-term-reference .field-item{
	display:inline-block;
	float:left;
	margin-right:5px;
}


/* Sidebars */

.sidebar ul{
	margin:0;
	padding:0;
}

.sidebar ul li{
	list-style:none;
	margin:0;
	padding:3px 0;
}

.sidebar .content{
	margin:0;
}

/* Content Width Overrides */

.sidebar-second #content {
    margin-left: 0;
    margin-right: -600px;
    width: 600px;
}

.region-sidebar-second {
    float: left;
    margin-left: 620px;
    margin-right: -960px;
    padding: 0;
    width: 340px;
}

/* Sidebar Positions */

#block-views-blog-archive-block, #block-tagclouds-1, #block-views-recent-blog-comments-block, #block-quicktabs-popular-posts, 
#block-menu-menu-pastors, #block-menu-menu-publications, #block-menu-menu-theology-ministry, #block-menu-menu-church-members, #block-menu-menu-some-links{
	width:45%;
	float:left;
	position:relative;
	display:block;
}

#block-views-recent-blog-comments-block, #block-quicktabs-popular-posts, #block-menu-menu-publications, #block-menu-menu-church-members{
	margin-left:20px;
}

#block-views-book-advertisement-block{
	clear:both;
}

#block-views-book-advertisement-block .event-ad{
	width:144px;
	overflow:hidden;
	position:relative;
	display:block;
	float:left;
	
}

#block-views-book-advertisement-block .views-row-even{
	margin-left:20px;
}


#block-views-recent-blog-comments-block .more-link{
	float:left;
}

#block-views-recent-blog-comments-block .feed-icon{
	float:left;
	padding:6px 0 0 5px;
}

#block-boxes-christ-the-word, #block-boxes-cnf, #block-boxes-churches{

	padding:10px 10px 10px 55px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:243px;
 
}

#block-boxes-christ-the-word{

	background:url(../images/ctw_small.png) top left no-repeat #efefef;
	
}

#block-boxes-cnf{

	background:url(../images/cnf_small.png) top left no-repeat #efefef;
}

#block-boxes-churches{

	background:url(../images/cnc_small.png) top left no-repeat #efefef;
}

.sidebar h2, .sidebar h3, .sidebar h2 a, .sidebar h3 a{
	color:#436BA1;
}


#quicktabs-popular_posts ul.quicktabs-tabs{
	padding:0;
	margin:2px 0;
	clear:both;
	display:block;
	height:25px;
}

#quicktabs-popular_posts ul.quicktabs-tabs li{
	padding:0;
	margin:0;
	
}

#quicktabs-popular_posts ul.quicktabs-tabs li a{
	background:#efefef;
	padding:4px;
	width:62px;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
}

#quicktabs-popular_posts ul.quicktabs-tabs li.first a{
	border-right:1px solid #666666;
}

#quicktabs-popular_posts ul.quicktabs-tabs li.active a{
	background:#666666;
	color:#FFFFFF;
}

#quicktabs-popular_posts ul.quicktabs-tabs li a:hover{
	background:#333333;
	color:#efefef;
}

.page-taxonomy #page-title, .page-search #page-title{
	font-size:22px;
	color:#436BA1;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dotted #efefef;
	
}

.breadcrumb{
	color:#436BA1;
}

#Footer{
	margin-bottom:-20px;
	background:#efefef;
	border-top:3px solid #CCCCCC;
	height:80px;
	position: relative;
	margin-top: -80px;
	
}

#Footer .region-footer{
	width:960px;
	margin:0 auto;
	padding:10px 0;
	
}

#Footer #block-boxes-footer-material{
	width:45%;
	float:left;
	
}

#Footer #block-boxes-footer-material .content{
	background:url(../images/bb_small.png) left no-repeat;
	height:17px;
	padding-left:33px;
}

#Footer #block-boxes-footer-material p{
	text-align:left !important;
}

#Footer #block-system-user-menu{
	width:45%;
	float:right;
}

#Footer #block-system-user-menu li{
	display:inline-block;
	float:right;
	margin-left:10px;
}
	

/* Comments */

#comments{
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #efefef;
}

#comments .username{
	color:#93916a;
	font-weight:bold;
}

h2.comment-form{
	font-size:22px;
}

h2.comment-form, #comment-form{
	margin-left:20px;
}

/* Search */

.current-search-item h3{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666666;
	font-style:italic;
	margin:0 0 10px;
}

#block-boxes-clearfix-box-1, #block-boxes-clearfix2, #block-boxes-clearfix3, #block-boxes-clearfix4{
	display:block;
	height:1px;
	overflow:hidden;
	clear:both;
}

.links.inline{
	display:block;
	clear:both;
	padding-top:10px;
}

ul.links li{
	padding-right:5px;
}

html, body, #PageWrapper{
	height:100%;
}

#MainWrapper{
	min-height:100%;
	position:relative;
	display:block;
}

* html #MainWrapper
{
	height: 100%;
}

#MainBody{
	padding-bottom:80px;
}

/* Admin Menus */

#admin-menu, #quickbar{
	position:fixed;
	height:auto;
}

#navigation .feed-icon{
	display:block !important;
	position:absolute !important;
	z-index:9999 !important;
	top:28px !important;
	right:20px !important;
}